[submodule "external/nativefiledialog-extended"]
	path = external/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended
[submodule "tests/Dillon"]
	path = tests/Dillon
	url = https://github.com/Dillonb/n64-tests
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
